html, body{
    line-height: 1;
    font-family: Times New Roman, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.navbar{
    height: 2.5rem;
}
.card {
    border: unset;
}
.card-body{
    padding: 0;
}
.card-body:hover .news-overview{
    color: black;
}
.paper-news-ov:hover .paper-news-ov-line {
    color: black;
}
h5, h6{
    line-height: 1;
    margin-bottom: 0.15rem;
    font-weight: 600;
}
a{
    color: unset;
    text-decoration: none;
}
a:hover{ text-decoration:none}

/* common */
p.news-detail-lines{
    white-space: pre-line;
    line-height: 1.5;
    margin-top: 10px;
    font-weight: 500;
    font-size: 22px;
}
.col-md-6{
    max-width: 49.5%;
}


/* for newspaper format */

/*.col-md-1{*/
/*    max-width: 8.2%;*/
/*}*/
/*.col-md-2{*/
/*    max-width: 17%;*/
/*}*/
/*.col-md-3{*/
/*    max-width: 26%;*/
/*}*/

/*.offset-md-1 {*/
/*    margin-left: 6%;*/
/*}*/



/*!*small.text-muted{*!*/
/*!*    white-space:pre-line;*!*/
/*!*    font-size: 80%;*!*/
/*!*    color: transparent !important;*!*/
/*!*    text-shadow: 0 0 2px rgb(0 0 0 / 55%);*!*/
/*!*}*!*/
/*.news-overview{*/
/*    font-size: 60%;*/
/*    line-height: 0.8;*/
/*    white-space: pre-line;*/
/*    margin-bottom: 0.3rem;*/
/*    margin-top: 4px;*/
/*}*/
/*.mid-news{*/
/*    margin-bottom: 0.3rem;*/
/*}*/
/*.news-overview-title{*/
/*    font-weight: 600;*/
/*}*/
/*p.news-preview{*/
/*    white-space:pre-line;*/
/*    font-size: 30% !important;*/
/*    line-height: 0.8;*/
/*    margin-bottom: 0.1rem;*/
/*    color: transparent !important;*/
/*    text-shadow: 0 0 0 rgb(0 0 0 / 78%);*/
/*}*/

/*#news-detail-title{*/
/*    font-weight: 700*/
/*}*/

/* for newspaper version */

.col-xl-5{
    max-width: 39%;
}
.offset-xl-3 {
    margin-left: 32%;
}

.paper-news-ov-line {
    font-size: 60%;
    line-height: 0.82;
    white-space: pre-line;
    margin-bottom: 0.3rem;
    margin-top: 4px;
}
.card-body:hover .paper-news-ov-line{
    color: black;
}
.mid-row{
    flex: 1;
}
/*.paper-news-x{*/
/*    padding: 0 0.3rem 0 0.3rem;*/
/*}*/
.paper-news-ov-lines{
    /*transform: scale(0.9);*/
    /*margin: -1rem 0rem 0rem -0.5rem;*/
    -webkit-filter: blur(0.7px);
    -ms-filter: blur(0.7px);
    filter: blur(0.7px);
}
/* for newspaper version */

/*  for web version  */

.web-news-left{
    margin-right: 2%;
}
.web-news-right{
    padding: 0 2% 0 2%;
    margin-bottom: 5%;
}
.web-news-title{
    font-weight: 600;
    margin-bottom: 2%;
}
.web-news-title-right{
    font-weight: 600;
    margin-bottom: 4%;
}
.web-news-overview{
    /*color: transparent;*/
    /*text-shadow: 0 0 3px #00000063;*/
    /*font-size: 30%;*/
    /*color: lightgray;*/
    font-size: 86%;
    line-height: 0.9;
    white-space: pre-line;
    margin-bottom: 0.3rem;
    margin-top: 4px;
    -webkit-filter: blur(0.9px);
    -ms-filter: blur(0.9px);
    filter: blur(0.9px);
}
.web-news-overview-right{
    /*color: transparent;*/
    /*text-shadow: 0 0 3px #00000063;*/
    font-size: 95%;
    line-height: 140%;
    -webkit-filter: blur(0.9px);
    -ms-filter: blur(0.9px);
    filter: blur(0.9px);
}

.hr1{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(14, 10, 10);
}
.hr2{
    width: 50%;
}
.hr3{
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(14, 10, 10);
}

/*  for web version read  */

.web-news-read-back{
    margin-left: -20%;
}
.web-news-read{
    margin-top: 2%;
}
.web-news-read-title{
    margin: 0 0 3% 0;
    font-size: 2rem;
    font-weight: 600;
}
.web-news-read-line{
    font-weight: 100 !important;
    font-size: 1.3rem;
    line-height: 1.2;
}

#end-reading{
    margin: 0 42% 8rem;
    text-align: center;
}