<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <!-- jQuery and JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
        <script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
                integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
                crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>{% block title %}{% endblock %}news page</title>
    {% endblock %}
</head>
<body>
<script>
    let url = window.location.pathname;
    let user = url.substring(url.lastIndexOf('/') + 1, url.length);
    const socket = io();
    socket.on('connect', function() {
    });
    setInterval(() => {
            socket.volatile.emit("heartbeat", {username: user, cur_url: url});
        }, 1500
    );
</script>
<nav class="navbar navbar-expand-lg navbar-light shadow mb-5 bg-white rounded"
     style="background-color: #e3f2fd; margin-bottom: 5px !important; height: 3.5rem">
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarColor03">
        <h3>Daily News</h3>
    </div>
</nav>
<div id="content">{% block content %}{% endblock %}</div>

</body>
</html>