{% extends "base.html" %}

{% block content %}

    <script>
        function read_news(id) {
            document.getElementById("news-detail-title").innerHTML = id.children[0].textContent;
            {#删除原有元素#}
            let news_content = document.getElementById("news-detail-content");
            let content_lines = document.getElementsByClassName("news-detail-lines");
            for (let i= content_lines.length - 1; i >= 0; i--){
                news_content.removeChild(content_lines[i])
            }
            {# 添加点击元素 #}
            for (let i = 1; i < id.children.length; i++){
                let detail_line = document.createElement("p");
                detail_line.setAttribute("class", "news-detail-lines");
                detail_line.innerHTML= id.children[i].textContent;
                news_content.appendChild(detail_line);
            }
            {#document.getElementById("news-detail-content").innerHTML = id.children[1].textContent;#}
        }
    </script>
    <div class="row">
        <div class="col-md-5 offset-md-1" id="newspaper_page"
             style="-webkit-transform: scale(0.80); -webkit-transform-origin-y: top;">
            {% include 'newspaper-preview-left.html' %}
{#            <div class="row">#}
{#                <div class="col-md-6" style="padding-top: 10px;">#}
{#                    {% for news in news_list[:4] %}#}
{#                        <div class="card bg-white card-preview">#}
{#                            <div class="card-body" onclick="read_news(this)">#}
{#                                <h5>{{ news.title }}</h5>#}
                                {#                                <p class="card-text"><small class="text-muted text-preview">{{ news.content }}</small></p>#}
{#                                <p class="news-preview">{{ news.content }}</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="col-md-6" style="padding-top: 10px;">#}
{#                    {% for news in news_list[4:] %}#}
{#                        <div class="card bg-white">#}
{#                            <div class="card-body" onclick="read_news(this)">#}
{#                                <h5>{{ news.title }}</h5>#}
                                {#                                <p class="card-text"><small class="text-muted text-preview">{{ news.content }}</small></p>#}
{#                                <p class="news-preview">{{ news.content }}</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="col-md-5" id="news_detail">
            <div class="card p-3 bg-white">
                <div class="card-body" id="news-detail">
                    <h3 id="news-detail-title">{{ news_list[news_idx].title }}</h3>
                    <div id="news-detail-content">
                    {% for line in news_list[news_idx].lines %}
                        <p class="news-detail-lines">{{ line }}</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}