<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <!-- jQuery and JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
        <script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
                integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
                crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>{% block title %}{% endblock %}news read</title>
    {% endblock %}
</head>
<body>
<script>
    const url = window.location.pathname;
    const user = url.substring(url.lastIndexOf('/') + 1, url.length);
    let leave_timestamp = 0
    // 对document.hidden做前缀处理
    function getHiddenProp(){
        var prefixes = ['webkit','moz','ms','o'];

        // if 'hidden' is natively supported just return it
        if ('hidden' in document) return 'hidden';

        // otherwise loop over all the known prefixes until we find one
        for (var i = 0; i < prefixes.length; i++){
            if ((prefixes[i] + 'Hidden') in document)
                return prefixes[i] + 'Hidden';
        }

        // otherwise it's not supported
        return null;
    };

    // 获取document.visibilityState属性
    function getVisibilityState() {
        var prefixes = ['webkit', 'moz', 'ms', 'o'];
        if ('visibilityState' in document) return 'visibilityState';
        for (var i = 0; i < prefixes.length; i++) {
            if ((prefixes[i] + 'VisibilityState') in document)
                return prefixes[i] + 'VisibilityState';
        }
        // otherwise it's not supported
        return null;
    };

    // 给document添加事件
    var visProp = getHiddenProp();
    if (visProp) {
        var evtname = visProp.replace(/[H|h]idden/, '') + 'visibilitychange';
        document.addEventListener(evtname, function () {
            {#document.title = document[getVisibilityState()]+"状态";#}
            if (document[getVisibilityState()] == 'visible') {
                {#console.log('回来了');#}
                $.get("/switch_tab", {userName: user, interval: (new Date().getTime() - leave_timestamp)/1000});
            }else{
                leave_timestamp = new Date().getTime();
                {#console.log('离开了');#}
            }
        },false);
    }
    const socket = io();
    socket.on('connect', function() {
    });
    setInterval(() => {
        socket.volatile.emit("heartbeat", {username: user, cur_url: url});
        }, 1500
    );
</script>
{% include 'confirmDialog.html' %}
<div id="content">
    <script>
        function changeNewsHeight(){
            let min_height = 1000
            let news = $('.paper-news-ov');
            for (let i = 0; i < news.length; i++) {
                console.log("news-" + i + "height: " + $(news[i]).height())
                if ($(news[i]).height() < min_height) {
                    min_height = $(news[i]).height()
                }
            }
            min_height += 5
            for (let i = 0; i < news.length; i++) {
                if ($(news[i]).height() >= min_height) {
                    $(news[i]).css("height", min_height + 2)
                    $(news[i]).css("overflow", 'hidden')
                }
                console.log("news-" + i + "height: " + $(news[i]).height())
            }
            let bottom_news = $('#bottom-news')
            bottom_news.css("margin-top", 10)
        }
        function resizeNewsHeight(){
            let news = $('.paper-news-ov');
            for(let i=0; i < news.length; i++){
                $(news[i]).css("height", "unset")
            }
            changeNewsHeight()
        }
        $(document).ready(function () {
            changeNewsHeight();
            var ua = navigator.userAgent.toLocaleLowerCase();
            var browserType=null;
            if (ua.match(/firefox/) != null) {
            }else if(ua.match(/edg/) != null){

            }
            else if (ua.match(/chrome/) != null) {
                $("#end-reading-div").css("display", "block");
                $("#end-reading-div").css("margin-left", "40%");
                $(".news-read-content").css("height", 0);

            }
        })

        let timeOutFunctionId;

        // The following event is triggered continuously
        // while we are resizing the window
        window.addEventListener("resize", function() {

            // clearTimeOut() resets the setTimeOut() timer
            // due to this the function in setTimeout() is
            // fired after we are done resizing
            clearTimeout(timeOutFunctionId);

            // setTimeout returns the numeric ID which is used by
            // clearTimeOut to reset the timer
            timeOutFunctionId = setTimeout(resizeNewsHeight, 50);
        });

        function read_news(id) {
            let clicked_news_title = id.children[0].textContent;
            document.getElementById("news-detail-title").innerHTML = clicked_news_title;
            $.get("/click", {channel:"paper_news", eventId:"read", userName: user, newsTitle: clicked_news_title});

            {#删除原有元素#}
            let news_content = document.getElementById("news-detail-content");
            let content_lines = document.getElementsByClassName("news-detail-lines");
            for (let i = content_lines.length - 1; i >= 0; i--) {
                news_content.removeChild(content_lines[i])
            }
            if(id.parentElement.parentElement.className.includes("news-6")){
                let news_content_id = document.getElementById("news-6-content-lines")
                for (let i = 0; i < news_content_id.children.length; i++) {
                    let detail_line = document.createElement("p");
                    detail_line.setAttribute("class", "news-detail-lines");
                    detail_line.innerHTML = news_content_id.children[i].innerText;
                    news_content.appendChild(detail_line);
                }
            }else if (id.parentElement.parentElement.className.includes("news-7")){
                let news_content_id = document.getElementById("news-7-content-lines")
                for (let i = 0; i < news_content_id.children.length; i++) {
                    let detail_line = document.createElement("p");
                    detail_line.setAttribute("class", "news-detail-lines");
                    detail_line.innerHTML = news_content_id.children[i].innerText;
                    news_content.appendChild(detail_line);
                }
            }
            else {
                {# 添加元素 #}
                for (let i = 1; i < id.children.length; i++) {
                    let detail_line = document.createElement("p");
                    detail_line.setAttribute("class", "news-detail-lines");
                    detail_line.innerHTML = id.children[i].innerText;
                    news_content.appendChild(detail_line);
                }
            }
            {#document.getElementById("news-detail-content").innerHTML = id.children[1].textContent;#}
        }
    </script>
    <div class="news-read-content clearfix">
        <div class="col-md-5 col-lg-5 col-xl-5" id="newspaper_page"
             style="-webkit-transform: scale(0.80); -webkit-transform-origin-y: top; -moz-transform-origin: top;
  transform-origin: center top 0; padding: 1rem 1rem 0 1rem;
                    border: solid 1px; float: left; margin-top: 1rem; margin-left: 6%">
            <h4 style="margin: 0 0 1rem 0; text-align: center">Daily News</h4>
            <hr class="hr1" style="rgb(145 145 145);border-top-style: solid;;border-top-width: 1px;"/>
            <div class="row">
                <div class="col-md-2 col-lg-2 paper-news-x">
                    <a href="#">
                        <div class="paper-news-ov" onclick="read_news(this)">
                            <h5 class="paper-news-ov-title">{{ news_list[0].title }}</h5>
                            <div class="paper-news-ov-lines">
                                {% for line in news_list[0].lines %}
                                    <p class="paper-news-ov-line">{{ line }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-lg-2 paper-news-x">
                    <a href="#">
                        <div class="paper-news-ov" onclick="read_news(this)">
                            <h5 class="paper-news-ov-title">{{ news_list[1].title }}</h5>
                            <div class="paper-news-ov-lines">
                                {% for line in news_list[1].lines %}
                                    <p class="paper-news-ov-line">{{ line }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mid-row">
                    <div class="paper-news-ov">
                    <a href="#">
                        <div class="mid-row-1 paper-news-x" onclick="read_news(this)">
                            <h5 class="paper-news-ov-title">{{ news_list[2].title }}</h5>
                            <div class="paper-news-ov-lines">
                                {% for line in news_list[2].lines %}
                                    <p class="paper-news-ov-line">{{ line }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="mid-row-2 paper-news-x" onclick="read_news(this)">
                            <h5 class="paper-news-ov-title">{{ news_list[3].title }}</h5>
                            <div class="paper-news-ov-lines">
                                {% for line in news_list[3].lines %}
                                    <p class="paper-news-ov-line">{{ line }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="mid-row-3 paper-news-x" onclick="read_news(this)">
                            <h5 class="paper-news-ov-title">{{ news_list[4].title }}</h5>
                            <div class="paper-news-ov-lines">
                                {% for line in news_list[4].lines %}
                                    <p class="paper-news-ov-line">{{ line }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2 paper-news-x">
                    <a href="#">
                        <div class="paper-news-ov" onclick="read_news(this)">
                            <h5 class="paper-news-ov-title">{{ news_list[5].title }}</h5>
                            <div class="paper-news-ov-lines">
                                {% for line in news_list[5].lines %}
                                    <p class="paper-news-ov-line">{{ line }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row" id="bottom-news">
                <div class="col-md-6 col-lg-6">
                    <div class="card bg-white news-6-ov-title">
                        <a href="#">
                            <div class="card-body" onclick="read_news(this)">
                                <h5 class="paper-news-ov-title">{{ news_list[6].title }}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="card bg-white news-7-ov-title">
                        <a href="#">
                            <div class="card-body" onclick="read_news(this)">
                                <h5 class="paper-news-ov-title">{{ news_list[7].title }}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="card bg-white news-6-ov-content">
                        <div class="card-body">
                                <div class="paper-news-ov-lines" id="news-6-content-lines">
                                    {% for line in news_list[6].lines %}
                                        <p class="paper-news-ov-line">{{ line }}</p>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="card bg-white news-7-ov-content">
                        <div class="card-body">
                                <div class="paper-news-ov-lines" id="news-7-content-lines">
                                    {% for line in news_list[7].lines %}
                                        <p class="paper-news-ov-line">{{ line }}</p>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 col-xl-5" id="news_detail" style="float: right; margin-right: 14%;">
            <div class="card p-3 bg-white">
                <div class="card-body" id="news-detail">
                    <h3 id="news-detail-title" class="web-news-read-title">{{ news_list[news_idx].title }}</h3>
                    <div id="news-detail-content">
                        {% for line in news_list[news_idx].lines %}
                            <p class="news-detail-lines">{{ line }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="end-reading-div" style="justify-content: center; display: flex;">
        <button type="button" class="btn btn-secondary" id="paper-end-reading">Exit news reading session</button>
    </div>
</div>

</body>
</html>